* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    background: url('../images/oldpeople.jpg') no-repeat;
    background-size: 100%;
    padding-top: 1%;
}

header, nav, main, footer, aside, section, article, a {
    display: block;
}

main {
    min-width: 60%;
    margin: auto;
}

h1 {
    font-size: 330%;
    font-family: 'Monoton', cursive;
    text-align: center;
}
